header{
    background-color: aqua;
    text-align: center;
}

/* nav{
    display: flex;
    align-items: center;
} */

.nav-items{
    display: flex;
    align-self: center;

    padding: 1vh;
    text-decoration: none;
}