form action="/fruits/add" method="post"
    input type="text" name="type" placeholder="Vad vill du lägga till?"
    input type="text" name="amount" placeholder="Hur många vill du ligga til?"
    input type="submit" value="Lägg till"